<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306407668870-66lvunfispmiftn2cd082mmehnc6grje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306407668870-66lvunfispmiftn2cd082mmehnc6grje</string>
	<key>API_KEY</key>
	<string>AIzaSyCSXeTdn5ZEFdIP0A0UzLIlbsgWb8dyTQc</string>
	<key>GCM_SENDER_ID</key>
	<string>306407668870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.ReactNativeExpoBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>fir-project-3ec93</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-3ec93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306407668870:ios:9abc12bc50395f002c6507</string>
</dict>
</plist>